.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, button, h2 {
    margin: 20px;
}

button {
    background-color: none;
    color: red;
    padding: 10px;
    border-radius: 5px;
    border-color: red;
}

main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-square {
    border: 1px gray solid;
    height: 200px;
    background-color: blueviolet;
    color: white;
    font-size: 100px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}